extends ./_layouts/default

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'
  -imgPC        = path+'/img/'+pageID+'/'
  -imgSP        = path+'/img/'+pageID+'/sp/'

block container
  h1.title-primary demo